
name: Hello world

on:
  issues:
    types: [ opened ]
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  comment-with-api:
    runs-on: ubuntu-latest

    steps:
      - name: Create comment with API
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          REPO: ${{ github.event.repository.name }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
        run: |
          gh api -X POST \
            repos/${OWNER}/${REPO}/issues/${ISSUE_NUMBER}/comments \
            -f body='Comment posted from API not from action'
